---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials
@import "social.scss";
@import "highlight.scss";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;
//

body {
  background-color: #fff; }

#pg-container {
  max-width: 1000px;
  margin: auto; }

#navigation * {
  position: relative;
  bottom: 5px
}
// header {
//   width: 100%;
//   z-index: 1; }

footer {
  width: 100%;
  padding-top: 10px;
  > div {
    background-color: #fff;
  }
  ul {
    display: inline-block;
    li {
      display: inline-block;
    }
  }
}

form {
  margin-left: 10px;
  margin-right: 5px; }

.bigger {
  font-size: 150%;
}

.no-style {
  list-style: none;
}

.separator {
  height: 1px;
  background-color: $grey-color;
  border-radius: 2px;
  margin: 10px auto;
}

.rule {
  height: 5px;
  width: 80%;
  background-color: $brand-color;
  margin: 50px auto; }

.v-align {
  display: flex;
  align-items: center; }

.portfolio {
  display: flex;
  justify-content: center;
  div {
    display: flex;
    align-items: center;
    height: 250px;
    width: 250px;
  }
  img {
    margin: 10px auto;
  }
}

img {
  max-width: 100%;
}
