body {
	background-color: #fff;
}

#pg-container {
	max-width: 1000px;
	margin: auto;
}

header {
	position: fixed;
	width: 100%;
	z-index: 1;
}
footer {
	width: 100%;
	font-weight: bold;
	> div {
		background-color: #fff;
	}
	ul {
		display: inline-block;
		li {
			display: inline-block;
		}
	}
}
form {
	margin-left: 10px;
	margin-right: 5px;
}
.rule {
	height: 10px;
	width: 80%;
	background-color: blue;
	margin: 50px auto;
}
.v-align {
	display: flex;
	align-items: center;
}
.portfolio {
	display: flex;
	justify-content: center;
	div {
		display: flex;
		align-items: center;
		height: 250px;
		width: 250px;
	}
	img {
		margin: 10px auto;
	}
}
img {
	max-width: 100%;
}
#descriptions p {
	display: none;
	background-color: gray;
	font-size: 16pt;
	color: white;
}
#about {
	margin-top: 50px;
}
