<!-- Social media -->
<div class="social" id="social-media">
  <div style="padding:5px;text-align:center;font-size:10px">
    <strong>Links to my...</strong>
  </div>
  <a href="http://facebook.com/andrew.crenwelge" target="_blank">
    <div class="fb">
      <i class="fa fa-2x fa-facebook"></i>
    </div>
  </a>
  <a href="http://twitter.com/a_crenwelge" target="_blank">
    <div class="twitter">
      <i class="fa fa-2x fa-twitter"></i>
    </div>
  </a>
  <a href="http://github.com/acrenwelge" target="_blank">
    <div class="github">
      <i class="fa fa-2x fa-github"></i>
    </div>
  </a>
  <a href="http://www.codepen.io/acrenwelge" target="_blank">
    <div class="codepen">
      <i class="fa fa-2x fa-codepen"></i>
    </div>
  </a>
  <a href="http://www.linkedin.com/in/andrew-crenwelge" target="_blank">
    <div class="linkedin">
      <i class="fa fa-2x fa-linkedin"></i>
    </div>
  </a>
</div>
